* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}

ul, li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

button {
    cursor: pointer;
}

img {
    object-fit: contain;
}
